{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <h1>About Me</h1>
    <p>Hello, I'm Ijas.</p>
     <!-- Form section start -->
    <div class="section">
            <h1><span>Contact Me</span></h1>
            <form>
                <input name="name" type="text" label="name" /><br/>
                <input name="email" type="email" label="email" /><br/>
                <textarea name="message" label="message" ></textarea>
                <input type="submit" value="SEND" class="submit" />
            </form>
        </div>
        <!-- Form section end -->
{% endblock %}

