{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <div class="text-center my-5" >  <img alt="" src="{% static 'images/me-three.jpg' %}" width="450" height="450"  ></div>
    <p>Hello! I'm Ijas from kerala,calicut.Welcome to my blog! And glad that you checked out my About page.Currently i'm a B.tech (Computer Sciecne) student in
    MEA Engineering College Perinthalmanna. i made this blog after a long time thinking.when i was tell about start a blog to my friends and my family all are laughing.
    any way I decided to start the blog.</p>
{% endblock %}

