{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blogs
{% endblock %}

{% block content %}
   <div class="container my-3">
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-6 col-lg-4 my-3 pr-5">
                        <div class="card">
                            <img class="card-img-top" src="{{ blog.thumbnail.url }}" alt="" height="300" width="300">
                            <div class="card-body">
                                <h5 class="card-title"><a class="text-dark text-decoration-none" href="{% url 'blog' blog.slug %}">
                                    <h3 class="card-head">{{ blog.title }}</h3></a></h5>
                                {#                            <p class="card-text">{{ blog.content|truncatewords:"20" }}</p>#}
                                <div class="text-right">
                                    {#                                <a href="{% url 'blog' blog.slug %}" class="btn btn-dark">Read More...</a>#}
                                </div>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
{% endblock %}