{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blogs
{% endblock %}

{% block content %}
    <div class="container mt-3">
        {% for blog in blogs %}
            <div class="row mb-3 border border-dark p-3 bg-secondary text-light">
                <div class="col-md-3">
                    <img class="img-fluid" src="{% static 'images/nature.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <a class="text-light" href="{% url 'blog' blog.slug %}"><h1>{{ blog.title }}</h1></a>
                    <p>{{ blog.content|truncatewords:30 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}