<hr class="home-hr">
<section id="connect" class="py-3 my-4">
    <div class="text-center">
        <h2 class="mb-4 c-head">Let's Connect</h2>
    </div>
    <div class="container">
        {#            <div class="row justify-content-center text-center">#}
        {##}
        {#                #}
        {#            </div>#}
        <div class="d-flex justify-content-center">
            <div class="mr-3">
                <a href="https://www.facebook.com/ijassubairk" target="_blank"><i class="fa fa-facebook bg-dark p-3 px-3 text-white"></i></a>
            </div>
            <div class="mr-3">
                 <a href="https://in.linkedin.com/in/ijas-subair-k-54647b163" target="_blank"><i class="fa fa-linkedin bg-dark p-3 px-3 text-white"></i></a>
            </div>
            <div class="mr-3">
                 <a href="https://www.instagram.com/ijas_ibnu_subair/?hl=en" target="_blank"><i class="fa fa-instagram bg-dark p-3 px-3 text-white"></i></a>
            </div>
            <div>
                 <a href="https://twitter.com/ijas_subair" target="_blank"><i class="fa fa-twitter bg-dark p-3 px-3 text-white"></i></a>
            </div>


        </div>
    </div>
</section>