{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top" id="main-nav">
        <a class="navbar-brand ml-4" href="{% url 'home' %}">
            <img src="{% static 'images/bootstrap-solid.svg' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            IJAS.LIVE
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-r"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-r">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-5 active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item mr-5 active">
                    <a class="nav-link nav-link-hash" href="{% if not request.path == '/' %}/{% endif %}#profile">Profile</a>
                </li>
                <li class="nav-item mr-5 active">
                    <a class="nav-link nav-link-hash" href="{% if not request.path == '/' %}/{% endif %}#contact">Contact</a>
                </li>
                <li class="nav-item mr-5 active">
                    <a class="nav-link" href="{% url 'blogs' %}">Blog</a>
                </li>
            </ul>
        </div>
</nav>