<nav class="navbar navbar-expand-lg navbar-dark {% if not request.path == '/' %} bg-dark {% endif %} py-4 sticky-top" style="font-size: 1.1rem;">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>JAS LIVE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active px-lg-5">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item active px-lg-5">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item active px-lg-5">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item active px-lg-5">
                <a class="nav-link" href="{% url 'blogs' %}">Blog</a>
            </li>
           <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
        </ul>
    </div>
</nav>