* {
   font-family: 'Calistoga', cursive;
}

#main {
    min-height: 80vh;
    background: url("../images/image.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.main-inner {
    padding-top: 220px;
}

.footer-dark {
    background: rgba(0, 0, 0, 0.5);
}

/*.center{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 20px;*/
/*}*/