#home {
    background: #780206; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212529, #340693db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212529, #340693db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: white !important;
    /*border-top: 2px solid #000000;*/
    border-bottom: 2px solid #000000;
}

.card-body:hover {
    background-color: black;
    color: white;
}

.bg-custom {
    background-color: #fafafa;
}
#profile {
    /*    height: 100vh;*/
    /*    display: flex;*/
    padding: 0 1rem;
    /*    align-items: center;*/
}

.profile-col-1 {
    border-right: 1px solid #000000;
}


#skills {
    background: #780206; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212529, #340693db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212529, #340693db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}


/*#connect {
   background: #780206; /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #212529, #0e68ca); /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to right, #212529, #0e68ca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* }*/
#contactme {
    padding-top: 30px;
}

#form {
    padding-top: 30px;
    padding-bottom: 50px;
}

#feelfree {
    padding-top: 30px;
}

.form-control {
    border: 1px solid #343a40;
}

.icon-size {
    font-size: 1.5rem;
}

#footer {
    background: #780206; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212529, #340693db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212529, #340693db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-hr {
    height: 7px;
    background: #000000;
}

.custom-img {
    display: block;
    margin: 0 auto;
}

.c-head {
    font-family: 'Tomorrow', sans-serif;
}

.b-head {
    font-family: 'Lato', sans-serif;

}

.asteriskField {
    display: none;
}

.bg-custom .card {
    box-shadow: 5px 5px #eee;
}

/*.navbar a{*/
/*    color: white !important;*/
/*    font-size: 1.8rem !important;*/
/*}*/

@media (max-width: 992px) {
    .profile-col-1 {
        border-right: none;
    }

    .custom-title {
        font-size: 2.5rem;
    }
}

/*@media (min-width:768px) and (max-width: 992px) {*/
/*     #profile {*/
/*        height: 200vh;*/
/*    }*/

/*}*/

/*@media (max-width: 600px) {*/
/*    #profile {*/
/*        height: 120vh;*/
/*    }*/
/*}*/

/*@media (min-width: 600px) {*/
/*    #profile {*/
/*        height: 130vh;*/
/*    }*/

/*}*/

/*@media (min-width: 768px) {*/
/*    #profile {*/
/*        height: 140vh;*/
/*    }*/

/*}*/

/*@media (min-width: 992px) {*/
/*    #profile {*/
/*        height: 100vh;*/
/*    }*/
/*    .profile-col-1 {*/
/*        border-right: 1px solid #000000;*/
/*    }*/
/*}*/
