{% extends 'base.html' %}
{% block title %}
    Contact
{% endblock %}
{% block content %}
    <h4 align="center">Feel free to contact...</h4>
    <div class="container">
        <h4 align="center">NAME    : IJAS SUBAIR K</h4>
        <h4 align="center">Email   : ijassubairk@gmail.com</h4>
    </div>
    <div class=" container">
    <form action="#">
        <div class="form-grop">
            <label for="name">Name</label>
        <input type="text"  class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
        <input type="text" class="form-control" name="descri" id="descri">
        </div>

<button type="button" class="btn btn-secondary btn-lg btn-block">Send</button>
    </form>
    </div>
    <h4 align="center">Get in touch with me</h4>

{% endblock %}
